[Desktop Entry]
Version=1.0
Type=Application
Name=Easy Password Generator
Comment=Generate a strong random password with one click
GenericName=Password Generator
Exec=python3 /home/leez/Downloads/project1/final.py
Icon=security-high
Terminal=false
Categories=Utility;Security;
StartupNotify=true
